@use "variables" as var;
@use 'mixin';
.feature {
    .feature__card {
        padding: 2rem;
        display: grid;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.247);
        margin: 3rem 1rem 0;
        border-radius: 1rem;
        .feature__card-image {
            max-width: 250px;
            align-self: center;
            justify-self: center;
        }

        .feature__card-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .feature__card-title{
            font-size: 1.2rem;
            font-weight: 600;
        }
        .feature__card-description {
            font-size: 14px;
            line-height: 25px;
            color: gray;
        }
    }

    @include mixin.media(desktop) {
        margin-top: 8rem;
        .feature__card {
                padding: 3rem 2rem 4rem 6rem;
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 2rem;
                align-items: center;
                justify-content: center;
                align-content: center;
                text-align: center;
                box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.192);
                margin: 2rem 6.5rem 0;
                border-radius: 1rem;

                .feature__card-image {
                    max-width: 350px;
                    align-self: flex-end;
                    justify-self: center;
                }

                .feature__card-content {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    text-align: start;
                    max-width: 500px;
                    justify-self: flex-end;
                }

                .feature__card-title {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                .feature__card-description {
                    font-size: 16px;
                    line-height: 25px;
                    color: gray;
                }
            }

            .feature__card--reverse {
                grid-template-columns: 2fr 1fr;

                .feature__card-image {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 2;
                        grid-row-end: -1;
                    }

                .feature__card-content {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                    text-align: start;
                justify-self: flex-start;
                }
                
            }

        }

}

