@use "variables" as var;
@use 'mixin';

.header {
        background: map-get(var.$background-image, "mobile-hero"), linear-gradient(to right, #f0fbff, #DDF6FF),;
        background-repeat: no-repeat;
        width: 100%;
      &__nav{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding: 25px 15px;
         align-items: center;
      }
      &__logo{
         width: 130px;
         display: block;
      }
      &__button-wrapper {
         padding: 8px 25px;
         background-color: white;
         box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.24);
         border-radius: 100px;
         font-weight: bold;
         font-size: .7rem;
         cursor: pointer;
         &:hover{
            color: gray;
         }
      }
    
      &__hero{
         display: grid;
         gap: 3rem;
         padding: 3rem 3rem 3rem;
         justify-content: center;
         align-items: center;
        
      }
      &__hero-content{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         gap:1.5rem;
      }
      &__hero-title{
         word-wrap: break-word;
         font-size: 1.4rem;
         line-height:35px;
         color: map-get(var.$colors,"black" );
         font-weight: 600;

      }
      &__hero-description{
         font-size: 14px;
         line-height: 1.5rem;
         color: map-get(var.$colors, "black");
      }

      &__hero-button{
         padding: 15px 10px;
         width: 90%;
         font-size: 12px;
      }

      &__hero-image {
         width: 100%;
         max-width: 700px;
         object-fit: cover;
      }
      @include mixin.media(desktop) {
         background: map-get(var.$background-image, "mobile-hero"), linear-gradient(to right, #f0fbff, #DDF6FF), ;
         background-repeat: no-repeat;
         width: 100%;
      
         &__nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 3rem;
            align-items: center;
         }
      
         &__logo {
            width: 170px;
            display: block;
         }
      
         &__button-wrapper {
            padding: 8px 25px;
            background-color: white;
            box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.24);
            border-radius: 100px;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
      
            &:hover {
               color: gray;
            }
         }
      
         &__hero {
            display: grid;
            gap: 3rem;
            grid-template-columns: 1fr 1fr;
            padding: 1rem 3rem 4rem;
            justify-content: center;
            align-items: center;
      
         }
      
         &__hero-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            text-align: left;
            gap: 1.5rem;
            max-width: 500px;
         }
      
         &__hero-title {
            word-wrap: break-word;
            font-size: 2.4rem;
            line-height: 50px;
            color: map-get(var.$colors, "black");
            font-weight: 600;
      
         }
      
         &__hero-description {
            font-size: 1rem;
            line-height: 1.5rem;
            color: map-get(var.$colors, "black");
         }
      
         &__hero-button {
            width: 250px;
            padding: 15px 10px;
         }
      
         &__hero-image {
            width: 100%;
            object-fit: cover;
         }
      }
}